<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjektFinal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ProjektFinal.Properties.Settings>
            <setting name="charEndOfSerialFrame" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="charBeginOfTemperature" serializeAs="String">
                <value>$</value>
            </setting>
            <setting name="charBeginOfPressure" serializeAs="String">
                <value>%</value>
            </setting>
            <setting name="charBeginOfHumidity" serializeAs="String">
                <value>^</value>
            </setting>
            <setting name="stringPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="intBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="stringServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="stringUID" serializeAs="String">
                <value>Marcin</value>
            </setting>
            <setting name="stringDBPassword" serializeAs="String">
                <value>Andaluzja13</value>
            </setting>
            <setting name="stringDatabase" serializeAs="String">
                <value>weather</value>
            </setting>
        </ProjektFinal.Properties.Settings>
    </userSettings>
</configuration>